<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Spring Boot Chat</h1>
		<div class="row">
			<div class="col">
				<div class="card float-left">					
					<div class="card-body">
						<h5 class="card-title">Nabeel</h5>
						<p class="card-text">Hi, How are you?</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card float-right">					
					<div class="card-body">
						<h5 class="card-title">Sana</h5>
						<p class="card-text">I'm fine</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="form-group col-12">
				<input type="text" class="form-control"
					placeholder="Your Message ... ">
			</div>
			<div class="form-group col-2">
				<div class="text-right">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>